In [18]:
import pandas as pd
bios=pd.read_csv("bios.csv")
noc=pd.read_csv("noc_regions.csv")
print(noc.head())
bios.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [ ]:
#merging data of colums that are same i snoc file and bios file
#INNER MERGE : where both exist
pd.merge(bios,noc,left_on='born_country',right_on='NOC',how="inner").head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,region,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

In [12]:
#OUTER MERGE
pd.merge(bios,noc,left_on='born_country',right_on='NOC',how="outer").head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,region,notes
0,57056.0,Mohammad Ebrahimi,1930-04-11,Kabul,Kabul,AFG,Afghanistan,160.0,63.0,2022-05-22,AFG,Afghanistan,NaN
1,57062.0,Kayum Ayub,1947-06-21,Kabul,Kabul,AFG,Afghanistan,176.0,78.0,NaN,AFG,Afghanistan,NaN
2,57064.0,Aka-Jahan Dastagir,1946-06-05,Kabul,Kabul,AFG,Afghanistan,170.0,70.0,NaN,AFG,Afghanistan,NaN
3,57065.0,Ghulam Dastagir,1945-07-24,Kabul,Kabul,AFG,Afghanistan,180.0,87.0,NaN,AFG,Afghanistan,NaN
4,57066.0,Ahmad Djan,1948-02-10,Kabul,Kabul,AFG,Afghanistan,165.0,52.0,NaN,AFG,Afghanistan,NaN

In [ ]:
#RIGHT MERGE
pd.merge(bios,noc,left_on='born_country',right_on='NOC',how="right").head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,region,notes
0,57056.0,Mohammad Ebrahimi,1930-04-11,Kabul,Kabul,AFG,Afghanistan,160.0,63.0,2022-05-22,AFG,Afghanistan,NaN
1,57062.0,Kayum Ayub,1947-06-21,Kabul,Kabul,AFG,Afghanistan,176.0,78.0,NaN,AFG,Afghanistan,NaN
2,57064.0,Aka-Jahan Dastagir,1946-06-05,Kabul,Kabul,AFG,Afghanistan,170.0,70.0,NaN,AFG,Afghanistan,NaN
3,57065.0,Ghulam Dastagir,1945-07-24,Kabul,Kabul,AFG,Afghanistan,180.0,87.0,NaN,AFG,Afghanistan,NaN
4,57066.0,Ahmad Djan,1948-02-10,Kabul,Kabul,AFG,Afghanistan,165.0,52.0,NaN,AFG,Afghanistan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110661,147637.0,Donata Katai,2004-05-07,Harare,Harare,ZIM,Zimbabwe,NaN,NaN,NaN,ZIM,Zimbabwe,NaN
110662,147638.0,Ngoni Makusha,1994-06-29,Chitungwiza,Harare,ZIM,Zimbabwe,NaN,NaN,NaN,ZIM,Zimbabwe,NaN
110663,147639.0,Scott Vincent,1992-05-20,Harare,Harare,ZIM,Zimbabwe,181.0,NaN,NaN,ZIM,Zimbabwe,NaN
110664,147640.0,Peter Purcell-Gilpin,1994-07-04,Harare,Harare,ZIM,Zimbabwe,189.0,84.0,NaN,ZIM,Zimbabwe,NaN
110665,147641.0,Peter Wetzlar,1997-02-27,Harare,Harare,ZIM,Zimbabwe,NaN,NaN,NaN,ZIM,Zimbabwe,NaN

In [14]:
#LEFT MERGE 
pd.merge(bios,noc,left_on='born_country',right_on='NOC',how="left").head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,region,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

In [17]:
#concat
new=[pd.concat([bios.head(),noc.head()])]
new

[   athlete_id                   name   born_date    born_city  \
 0         1.0  Jean-François Blanchy  1886-12-12     Bordeaux
 1         2.0         Arnaud Boetsch  1969-04-01       Meulan
 2         3.0           Jean Borotra  1898-08-13     Biarritz
 3         4.0        Jacques Brugnon  1895-05-11  Paris VIIIe
 4         5.0           Albert Canet  1878-04-17   Wandsworth
 0         NaN                    NaN         NaN          NaN
 1         NaN                    NaN         NaN          NaN
 2         NaN                    NaN         NaN          NaN
 3         NaN                    NaN         NaN          NaN
 4         NaN                    NaN         NaN          NaN

             born_region born_country     NOC  height_cm  weight_kg  \
 0               Gironde          FRA  France        NaN        NaN
 1              Yvelines          FRA  France      183.0       76.0
 2  Pyrénées-Atlantiques          FRA  France      183.0       76.0
 3                 Paris          FRA  France      168.0       64.0
 4               England          GBR  France        NaN        NaN
 0                   NaN          NaN     AFG        NaN        NaN
 1                   NaN          NaN     AHO        NaN        NaN
 2                   NaN          NaN     ALB        NaN        NaN
 3                   NaN          NaN     ALG        NaN        NaN
 4                   NaN          NaN     AND        NaN        NaN

     died_date       region                 notes
 0  1960-10-02          NaN                   NaN
 1         NaN          NaN                   NaN
 2  1994-07-17          NaN                   NaN
 3  1978-03-20          NaN                   NaN
 4  1930-07-25          NaN                   NaN
 0         NaN  Afghanistan                   NaN
 1         NaN      Curacao  Netherlands Antilles
 2         NaN      Albania                   NaN
 3         NaN      Algeria                   NaN
 4         NaN      Andorra                   NaN  ]